body {
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    background-color: #f0ead2;
}

header {
    width: 100%;
    background-color: #ced4da;
    text-decoration: underline;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: xxx-large;
    padding-top: 20px;
    padding-bottom: 20px;
}

main {
    margin: 10px;
    font-size: xx-large;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user {
    width: 500px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#app {
    width: 500px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    margin: 10px;
    margin-top: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-size: x-large;
    font-family: 'Bebas Neue', cursive;
}

button:active {
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translate(-4px, 2px);
}

#binary {
    margin-left: 60px;
}

#decimal {
    margin-left: 76px;
}